<!DOCTYPE html>
<html>
  <head>
    <title>TimeTracker</title> 
    <!--Required Css-->
    <link rel="stylesheet" href="public/components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="public/css/font-awesome.min.css">
    <link rel="stylesheet" href="public/css/custom.css">

    <!--Required Libraries-->
    <script src="public/components/jquery/dist/jquery.min.js"></script>
    <script src="public/components/angular/angular.js"></script>
    <script src="public/components/angular-route/angular-route.min.js"></script>
    <script src="public/components/angular-animate/angular-animate.min.js"></script>
    <script src="public/components/angular-aria/angular-aria.min.js"></script>
    <script src="public/components/angular-messages/angular-messages.min.js"></script>
    <script src="public/components/angular-material/angular-material.min.js"></script>

    <script src="public/components/angular-hotkeys/build/hotkeys.min.js"></script>

    <!-- Set up core app -->
    <script src="public/app.js"></script>

    <!-- Pull in custom code -->
    <script src="public/controllers/main.js"></script>
    <script src="public/controllers/home.js"></script>
    <script src="public/controllers/time.js"></script>
    <script src="public/controllers/settings.js"></script>
    <script src="public/controllers/notes.js"></script>
    <script src="public/controllers/note.js"></script>
    <script src="public/controllers/sidebar.js"></script>
    <script src="public/controllers/day.js"></script>
    <script src="public/controllers/categories.js"></script>
    <script src="public/controllers/category.js"></script>
    
    <script src="public/services/messages.js"></script>
    <script src="public/services/noteManager.js"></script>
    <script src="public/services/settingsManager.js"></script>
    <script src="public/services/timeManager.js"></script>
    <script src="public/services/appManager.js"></script>
    <script src="public/services/windowManager.js"></script>
    <script src="public/services/infoManager.js"></script>
    <script src="public/services/categoriesManager.js"></script>

    <script src="public/directives/rightClickNavigate.js"></script>
  </head>

  <body ng-app="app" ng-controller="MainCtrl">
    <md-toolbar class="md-hue-2 top-bar" style="-webkit-app-region: drag;" scoll>
      <div class="md-toolbar-tools">
        <md-button ng-click="toggleMenu()" class="md-icon-button" aria-label="Menu" style="-webkit-app-region: no-drag;">
          <i class="fa fa-bars fa-2x" style="color:white;" aria-hidden="true"></i>
        </md-button>
        <h2>
          <span>TimeTracker</span>
        </h2>
        <span flex></span>
        <md-button ng-click="closeWindow()" class="md-icon-button" aria-label="Settings" style="-webkit-app-region: no-drag;">
          <i class="fa fa-close fa-2x" style="color:white; font-weight: normal;" aria-hidden="true"></i>
        </md-button>
      </div>
    </md-toolbar>
    <section layout="row" flex>
      <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-md')"
        md-whiteframe="4"
        md-component-id="left">
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools">Tools</h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="SidebarCtrl">
        <md-list ng-cloak>
          <!--<md-subheader class="md-no-sticky">Single Action Checkboxes</md-subheader>-->
          <md-list-item ng-click="menuItemClick('/time')" right-click-navigate="'/time'">
            <p> Time </p>
          </md-list-item>
          <md-list-item ng-click="menuItemClick('/notes')" right-click-navigate="'/notes'">
            <p> Notes </p>
          </md-list-item>
          <md-list-item ng-click="menuItemClick('/categories')" right-click-navigate="'/categories'">
            <p> Categories </p>
          </md-list-item>

          <md-divider></md-divider>


          <md-list-item ng-click="menuItemClick('/settings')" right-click-navigate="'/settings'">
            <p> Settings </p>
          </md-list-item>
        </md-list>

          <!-- <md-button ng-click="close()" class="md-primary" hide-gt-md>
            Close Sidenav Left
          </md-button> 
          <p hide show-gt-md>
          This sidenav is locked open on your device. To go back to the default behavior,
          narrow your display.
          </p> -->
        </md-content>
      </md-sidenav>
      <md-content flex layout-padding class="main-content">
        <!--<ng-view></ng-view>-->
        <md-subheader class="md-no-sticky">{{ currentPage.capitalize() }}</md-subheader>
        <div ng-view class="view-container">
        </div>
      </md-content>
    </section>
  </body>
</html>
