<md-input-container class="md-block" ng-show="hours > 0">
  <span><b>Hours: </b>{{ hours }}</span>
</md-input-container>

<!--<md-input-container>-->
<md-button ng-click="back()" class="md-icon-button md-secondary">
  <md-tooltip md-direction="top">Back</md-tooltip>
  <i class="material-icons">arrow_back</i>
</md-button>
<md-button ng-click="newTimeEntry()" class="md-icon-button md-secondary">
  <md-tooltip md-direction="top">New Task</md-tooltip>
  <i class="material-icons">create</i>
</md-button>
<md-button ng-click="navigate('/textView/' + day.id)" right-click-navigate="'/textView/' + day.id" class="md-icon-button md-secondary">
<md-tooltip md-direction="top">Text View</md-tooltip>
  <i class="material-icons">text_fields</i>
</md-button>
<!--</md-input-container>-->

<md-datepicker ng-model="day.date" md-placeholder="Enter date"></md-datepicker>

<md-list>
  <md-list-item ng-repeat="task in day.tasks" class="noright">
    <md-autocomplete flex
        md-input-name="description"
        md-no-cache="ctrl.noCache"
        md-selected-item="selectedDiscription"
        md-search-text="task.description"
        md-items="item in ticketQuerySearch(task.description)"
        md-item-text="item.value"
        md-floating-label="Description">
      <md-item-template>
        <span md-highlight-text="task.searchText">{{item.display}}</span>
      </md-item-template>
    </md-autocomplete>
    <!--<md-input-container class="md-block">
      <label>Description</label>
      <input md-no-asterisk ng-model="task.description" ng-change="applyTask(task, 'description', task.description)">
    </md-input-container>-->
    <md-input-container class="md-block">
      <label>Hours</label>
      <input md-no-asterisk type="number" ng-keydown="checkShift($event)" ng-keyup="checkClearShift($event)" ng-model="task.time" ng-change="applyTask(task, 'time', task.time)">
    </md-input-container>
      <!--<md-button ng-click="removeTask(task.id, $index)" class="md-raised md-primary">X</md-button>-->
      <!--<md-button ng-if="task.syncing == false || task.syncing == undefined" ng-click="syncTask(task, day)" class="md-raised md-primary">-->
      <md-icon ng-if="task.syncing == false || task.syncing == undefined" ng-click="syncTask(task, day)" class="md-secondary md-hue-3" >
        <md-tooltip md-direction="left">Sync to Jira</md-tooltip>
        <span ng-if="task.synced">
          <i class="material-icons">done</i>
        </span>
        <span ng-if="task.synced == false || task.synced == null">
          <i class="material-icons">autorenew</i>
        </span>
      </md-icon>
      <!--</md-button>-->
      <md-progress-circular ng-if="task.syncing" md-mode="indeterminate"></md-progress-circular>
      <md-icon ng-click="removeTask(task.id, $index)" class="md-secondary md-hue-3" >
        <md-tooltip md-direction="left">Delete task</md-tooltip>
        <i class="material-icons">clear</i>
      </md-icon>
      <!--<md-icon ng-click="removeDay(day.id, $index, $event)" aria-label="Remove Day" class="md-secondary md-hue-3" >X</md-icon>-->
      
    <md-input-container>
    </md-input-container>
  </md-list-item>
</md-list>
<md-button ng-click="save()" class="md-raised md-primary">Save</md-button>
