<md-input-container class="md-block" ng-show="hours > 0">
  <span><b>Hours: </b>{{ hours }}</span>
</md-input-container>

<md-button ng-click="back()" class="md-raised md-primary">Back</md-button>
<md-button ng-click="newTimeEntry()" class="md-raised md-primary">New</md-button>
<md-button ng-click="navigate('/textView/' + day.id)" right-click-navigate="'/textView/' + day.id" class="md-raised md-primary">Text</md-button>

<md-datepicker ng-model="day.date" md-placeholder="Enter date"></md-datepicker>

<md-list>
  <md-list-item ng-repeat="task in day.tasks" class="noright">
    <md-input-container class="md-block">
      <label>Description</label>
      <input md-no-asterisk ng-model="task.description" ng-change="applyTask(task, 'description', task.description)">
    </md-input-container>
    <md-input-container class="md-block">
      <label>Hours</label>
      <input md-no-asterisk type="number" ng-keydown="checkShift($event)" ng-keyup="checkClearShift($event)" ng-model="task.time" ng-change="applyTask(task, 'time', task.time)">
    </md-input-container>
      <md-button ng-click="removeTask(task.id, $index)" class="md-raised md-primary">X</md-button>
    <md-input-container>
    </md-input-container>
  </md-list-item>
</md-list>
