<md-subheader class="md-no-sticky">Settings</md-subheader>

<md-input-container class="md-block">
  <label>Mongo URI</label>
  <input md-no-asterisk name="mongouri" ng-model="settings.mongoURL">
  <!--<div ng-messages="projectForm.description.$error">
    <div ng-message="required">This is required.</div>
    <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
  </div>-->
</md-input-container>
<md-button ng-click="save()" class="md-raised md-primary">Save</md-button> 