<!--<md-subheader class="md-no-sticky">Settings</md-subheader>-->

<h3>General Settings</h3>
<md-input-container class="md-block">
  <label>DB Path</label>
  <input md-no-asterisk name="dbPath" ng-model="settings.dbPath">
  <md-button ng-click="selectFile()" class="md-raised md-primary">Select</md-button>
</md-input-container>

<md-input-container class="md-block">
  <label>Databacker Username</label>
  <input md-no-asterisk name="databackerusername" ng-model="settings.databacker.username">
</md-input-container>

<md-input-container class="md-block">
  <label>Databacker Password</label>
  <input md-no-asterisk name="databackerpassword" type="password" ng-model="settings.databacker.password">
</md-input-container>


<!-- <md-input-container class="md-block"> -->
  <!-- <label>Mongo URI</label> -->
  <!-- <input md-no-asterisk name="mongouri" ng-model="settings.mongoURL"> -->
  <!--<div ng-messages="projectForm.description.$error">
    <div ng-message="required">This is required.</div>
    <div ng-message="md-maxlength">The description must be less than 30 characters long.</div>
  </div>-->
<!-- </md-input-container> -->
<md-button ng-click="save()" class="md-raised md-primary">Save</md-button>
