<!--<md-button ng-click="navigate('/note')" class="md-raised md-primary">New</md-button>-->

<md-button ng-click="navigate('/note')" class="md-icon-button md-secondary">
  <md-tooltip md-direction="top">New Note</md-tooltip>
  <md-icon md-svg-src="images/ic_create_black_24px.svg">
    <!--<i class="material-icons">create</i>-->
  </md-icon>
</md-button>

<md-input-container class="md-block">
  <label>Search</label>
  <input md-no-asterisk name="search" ng-model="searchText">

</md-input-container>
<md-input-container class="md-block">
  <md-list>
    <md-list-item ng-repeat="note in notes | filter: searchText" ng-click="navigate('/note/' + note.id)" right-click-navigate="'/note/' + note.id" class="noright">
      <p>{{ note.title }}</p>
      <md-icon ng-click="removeNote(note.id, $index, $event)" aria-label="Remove Note" class="md-secondary md-hue-3" md-svg-src="images/ic_clear_black_24px.svg">
      </md-icon>
    </md-list-item>
  </md-list>
</md-input-container>
